
    <div class="modal-header">
        <h3 class="modal-title">Single Player Data</h3>
    </div>
    <div class="modal-body">

      <h4>Injury Status: {{injuryStatus}}</h4>

      <table class="table table-hover visible-md visible-lg">
          <thead>
              <tr>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_Name'; sortReverse = !sortReverse">
                          Name
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_Team'; sortReverse = !sortReverse">
                          Team
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_Opponent'; sortReverse = !sortReverse">
                          Opponent
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_Game'; sortReverse = !sortReverse">
                          Game
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_Position'; sortReverse = !sortReverse">
                          Position
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_FPPG'; sortReverse = !sortReverse">
                          FPPG
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_ActualFantasyPoints'; sortReverse = !sortReverse">
                          Actual
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_Salary'; sortReverse = !sortReverse">
                          Salary
                      </span>
                  </th>
                  <th>
                      <span class="fake-link" ng-click="sortType = '_playerInjuryDetails'; sortReverse = !sortReverse">
                          Injury
                      </span>
                  </th>
              </tr>
          </thead>
          <tbody ng-repeat="player in playerPastData | orderBy:sortType:sortReverse">
              <tr class="{{player._playerInjured}}">
                  <td>{{player._Name}}</td>
                  <td>{{player._Team}}</td>
                  <td>{{player._Opponent}}</td>
                  <td>{{player._Game}}</td>
                  <td>{{player._Position}}</td>
                  <td>{{player._FPPG}}</td>
                  <td>{{player._ActualFantasyPoints}}</td>
                  <td>{{player._Salary}}</td>
                  <td>{{player._ProjectedPointsPerDollar}}</td>
                  <td>{{player._playerInjuryDetails}}</td>
              </tr>
          </tbody>
      </table>
      <table class="table table-hover visible-xs visible-sm">
          <tbody ng-repeat="player in playerPastData | orderBy:sortType:sortReverse">
              <tr>
                <td>Name: {{player._Name}}</td>
              </tr>
              <tr>
                <td>Team: {{player._Team}}</td>
              </tr>
              <tr>
                <td>Opponent: {{player._Opponent}}</td>
              </tr>
              <tr>
                <td>Game: {{player._Game}}</td>
              </tr>
              <tr>
                <td>Position: {{player._Position}}</td>
              </tr>
              <tr>
                <td>FPPG: {{player._FPPG}}</td>
              </tr>
              <tr>
                <td>Actual: {{player._ActualFantasyPoints}}</td>
              </tr>
              <tr>
                <td>Salary: {{player._Salary}}</td>
              </tr>
              <tr>
                <td>Pts / Salary: {{player._ProjectedPointsPerDollar}}</td>
              </tr>
              <tr class="{{player._playerInjured}}">
                <td>Injury: {{player._playerInjuryDetails}}</td>
              </tr>
          </tbody>
      </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
