        <!-- start Draft selection -->
<div class="row" id="poolPlayers">
    <div class="col-xs-2">
        <h4>QB ({{averagePlayerPoolSalary(_QBPlayerPool)}})</h4>
        <table class="table table-hover">
            <tbody ng-repeat="QBPlayers in _QBPlayerPool">
                <tr>
                    <td><button class="btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removePlayerFromPool(QBPlayers)"></button></td>
                    <td ng-click="openClosePlayerDetails(QBPlayers)">{{QBPlayers._Name}}</td>
                    <td ng-click="openClosePlayerDetails(QBPlayers)">{{QBPlayers._Team}}<br />{{QBPlayers._ProjectedFantasyPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <h4>RB ({{averagePlayerPoolSalary(_RBPlayerPool)}})</h4>
        <table class="table table-hover">
            <tbody ng-repeat="RBPlayers in _RBPlayerPool">
                <tr>
                    <td><button class="btn-xs btn-success glyphicon " ng-class="{true: 'glyphicon-floppy-saved', false: 'glyphicon-floppy-remove'}[_RBPlayerLocked.indexOf(RBPlayers) > -1]" ng-click="lockAndUnLockPlayer(RBPlayers)"></button><button class="btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removePlayerFromPool(RBPlayers)"></button></td>
                    <td ng-click="openClosePlayerDetails(RBPlayers)">{{RBPlayers._Name}}</td>
                    <td ng-click="openClosePlayerDetails(RBPlayers)">{{RBPlayers._Team}}<br />{{RBPlayers._ProjectedFantasyPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <h4>WR ({{averagePlayerPoolSalary(_WRPlayerPool)}})</h4>
        <table class="table table-hover">
            <tbody ng-repeat="WRPlayers in _WRPlayerPool">
                <tr>
                    <td><button class="btn-xs btn-success glyphicon " ng-class="{true: 'glyphicon-floppy-saved', false: 'glyphicon-floppy-remove'}[_WRPlayerLocked.indexOf(WRPlayers) > -1]" ng-click="lockAndUnLockPlayer(WRPlayers)"></button><button class="btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removePlayerFromPool(WRPlayers)"></button></td>
                    <td ng-click="openClosePlayerDetails(WRPlayers)">{{WRPlayers._Name}}</td>
                    <td ng-click="openClosePlayerDetails(WRPlayers)">{{WRPlayers._Team}}<br />{{WRPlayers._ProjectedFantasyPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <h4>TE ({{averagePlayerPoolSalary(_TEPlayerPool)}})</h4>
        <table class="table table-hover">
            <tbody ng-repeat="TEPlayers in _TEPlayerPool">
                <tr>
                    <td><button class="btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removePlayerFromPool(TEPlayers)"></button></td>
                    <td ng-click="openClosePlayerDetails(TEPlayers)">{{TEPlayers._Name}}</td>
                    <td ng-click="openClosePlayerDetails(TEPlayers)">{{TEPlayers._Team}}<br />{{TEPlayers._ProjectedFantasyPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <h4>K ({{averagePlayerPoolSalary(_KPlayerPool)}})</h4>
        <table class="table table-hover">
            <tbody ng-repeat="KPlayers in _KPlayerPool">
                <tr>
                    <td><button class="btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removePlayerFromPool(KPlayers)"></button></td>
                    <td ng-click="openClosePlayerDetails(KPlayers)">{{KPlayers._Name}}</td>
                    <td ng-click="openClosePlayerDetails(KPlayers)">{{KPlayers._Team}}<br />{{KPlayers._ProjectedFantasyPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <h4>DST ({{averagePlayerPoolSalary(_DSTPlayerPool)}})</h4>
        <table class="table table-hover">
            <tbody ng-repeat="DSTPlayers in _DSTPlayerPool">
                <tr>
                    <td><button class="btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removePlayerFromPool(DSTPlayers)"></button></td>
                    <td ng-click="openClosePlayerDetails(DSTPlayers)">{{DSTPlayers._Name}}</td>
                    <td ng-click="openClosePlayerDetails(DSTPlayers)">{{DSTPlayers._Team}}<br />{{DSTPlayers._ProjectedFantasyPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <button type="button" class="btn btn-default" ng-click="clearPlayerPools()">Clear Pools</button>
    </div>
    <div class="col-xs-8">
        <button type="button" class="btn btn-primary" ng-click="buildDrafts()">Build Drafts</button>
        Total Possible Combinations: {{TotalPossibleDrafts}},  Total Valid Combinations: {{TotalValidDrafts}}

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" ng-click="SelectedValidDrafts  = !SelectedValidDrafts" ng-class="{true: 'active', false: ''}[SelectedValidDrafts]">Apply Valid Only Filter</button>
        <label class="btn btn-primary btn-file">
            Add Player IDs <input type="file" style="display: none;" onchange="angular.element(this).scope().addPlayerIDs(this.files)">
        </label>
        <button type="button" class="btn btn-info" ng-click="DownloadDraftCSV()">DownloadDrafts</button>

    </div>
    <div class="col-xs-12" id="generatedDrafts">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Draft</th>
                    <th>
                        <a href="#" ng-click="sortTypeDraft = 'projection'; sortReverseDraft = !sortReverseDraft">
                            Projected Pts
                            <span ng-show="sortTypeDraft == 'projection' && !sortReverseDraft" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeDraft == 'projection' && sortReverseDraft" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortTypeDraft = 'actual'; sortReverseDraft = !sortReverseDraft">
                            Actual Pts
                            <span ng-show="sortTypeDraft == 'actual' && !sortReverseDraft" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeDraft == 'actual' && sortReverseDraft" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortTypeDraft = 'validTeam'; sortReverseDraft = !sortReverseDraft">
                            Teams Valid
                            <span ng-show="sortTypeDraft == 'validTeam' && !sortReverseDraft" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeDraft == 'validTeam' && sortReverseDraft" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortTypeDraft = 'validSalary'; sortReverseDraft = !sortReverseDraft">
                            Salary Valid
                            <span ng-show="sortTypeDraft == 'validSalary' && !sortReverseDraft" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeDraft == 'validSalary' && sortReverseDraft" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="draft in _AllDraftData | orderBy:sortTypeDraft:sortReverseDraft | checkValidOnly:SelectedValidDrafts">
                <tr ng-click="openCloseDraftDetails(draft);">
                    <td>{{$index + 1}}</td>
                    <td>{{draft.projection}}</td>
                    <td>{{draft.actual}}</td>
                    <td>{{draft.validTeam}}</td>
                    <td>{{draft.validSalary}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- start stacks selection -->
<div class="row">
    <div class="col-xs-12">
        <h3>Build Stacks</h3>
        <button type="button" class="btn btn-default" ng-click="clearStackPositions()">Clear Stack Position Settings</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('QB') > -1]" ng-click="addRemovePositionToSelectedStacks('QB')">QB</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('RB') > -1]" ng-click="addRemovePositionToSelectedStacks('RB')">RB</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('RB1') > -1]" ng-click="addRemovePositionToSelectedStacks('RB1')">RB</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('WR') > -1]" ng-click="addRemovePositionToSelectedStacks('WR')">WR</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('WR1') > -1]" ng-click="addRemovePositionToSelectedStacks('WR1')">WR</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('WR2') > -1]" ng-click="addRemovePositionToSelectedStacks('WR2')">WR</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('TE') > -1]" ng-click="addRemovePositionToSelectedStacks('TE')">TE</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('K') > -1]" ng-click="addRemovePositionToSelectedStacks('K')">K</button>
            <button type="button" class="btn btn-primary" ng-class="{true: 'active', false: ''}[SelectedStackPositions.indexOf('DST') > -1]" ng-click="addRemovePositionToSelectedStacks('DST')">DST</button>
        </div>

    </div>
    <div class="col-xs-12">
        <button type="button" class="btn btn-default" ng-click="clearAllStacks()">Clear Stacks</button>
        <button type="button" class="btn btn-primary" ng-click="buildStacks()">Build Stacks</button>
    </div>
    <div class="col-xs-12">
        <table class="table table-hover" ng-repeat="players in _AllStacks ">
            <thead>
                <tr>
                    <th>Add/Remove</th>
                    <th>Week</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Opponent</th>
                    <th>Position</th>
                    <th>ProjPts</th>
                    <th>ActPts</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody ng-repeat="player in players">
                <tr>
                    <td><button type="button" class="btn btn-xs btn-success" ng-show="!playerInPool(player)" ng-click="addPlayerToPool(player)">Add Player Pool</button><button type="button" class="btn  btn-xs btn-danger" ng-show="playerInPool(player)" ng-click="removePlayerFromPool(player)">Remove Player Pool</button></td>
                    <td>{{player._WeekNum}}</td>
                    <td>{{player._Name}}</td>
                    <td>{{player._Team}}</td>
                    <td>{{player._Opponent}}</td>
                    <td>{{player._Position}}</td>
                    <td>{{player._ProjectedFantasyPoints}}</td>
                    <td>{{player._ActualFantasyPoints}}</td>
                    <td>{{player._Salary}}</td>
                </tr>
            </tbody>
            <tr>
                <td>Projected: {{players | sumProjection:players}}</td>
                <td>Actual: {{players | sumActual:players}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- start player selection -->
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <h3>Filter Weeks</h3>
                <button type="button" class="btn btn-default" ng-click="SelectedWeeks = [];">Clear Weeks</button>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-repeat="week in _AllWeeks" ng-click="addRemoveWeek(week);" ng-class="{true: 'active', false: ''}[SelectedWeeks.indexOf(week) > -1]">{{week}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Filter Position</h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = '';">All</button>
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = 'QB';">QB</button>
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = 'RB';">RB</button>
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = 'WR';">WR</button>
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = 'TE';">TE</button>
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = 'K';">K</button>
                    <button type="button" class="btn btn-primary" ng-click="SelectedPosition = 'DST';">DST</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3>Filter Teams</h3>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-default" ng-click="SelectedTeams = [];">Clear Teams</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-repeat="team in _AllTeams" ng-click="addRemoveTeam(team);" ng-class="{true: 'active', false: ''}[SelectedTeams.indexOf(team) > -1]">{{team}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="players">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Add</th>
                    <th>
                        <a href="#" ng-click="sortType = '_WeekNum'; sortReverse = !sortReverse">
                            Week
                            <span ng-show="sortType == '_WeekNum' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_WeekNum' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_Name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == '_Name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_Name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_Team'; sortReverse = !sortReverse">
                            Team
                            <span ng-show="sortType == '_Team' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_Team' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_Opponent'; sortReverse = !sortReverse">
                            Opponent
                            <span ng-show="sortType == '_Opponent' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_Opponent' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_Position'; sortReverse = !sortReverse">
                            Position
                            <span ng-show="sortType == '_Position' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_Position' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_ProjectedFantasyPoints'; sortReverse = !sortReverse">
                            Projection
                            <span ng-show="sortType == '_ProjectedFantasyPoints' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_ProjectedFantasyPoints' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_ActualFantasyPoints'; sortReverse = !sortReverse">
                            Actual
                            <span ng-show="sortType == '_ActualFantasyPoints' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_ActualFantasyPoints' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = '_Salary'; sortReverse = !sortReverse">
                            Salary
                            <span ng-show="sortType == '_Salary' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_Salary' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="player in _AllPlayers | orderBy:sortType:sortReverse | position:SelectedPosition | team:SelectedTeams | weeks:SelectedWeeks">
                <tr>
                    <td><button type="button" class="btn btn-xs btn-success" ng-show="!playerInPool(player)" ng-click="addPlayerToPool(player)">Add To Player Pool</button><button type="button" class="btn  btn-xs btn-danger" ng-show="playerInPool(player)" ng-click="removePlayerFromPool(player)">Remove From Player Pool</button></td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._WeekNum}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._Name}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._Team}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._Opponent}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._Position}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._ProjectedFantasyPoints}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._ActualFantasyPoints}}</td>
                    <td ng-click="openClosePlayerDetails(player)">{{player._Salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>