
    <div class="modal-header">
        <h3 class="modal-title">Save Settings</h3>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="col-xs-12">
            <h4>Title (Optional): "{{title}}" Saved: <span class="glyphicon" ng-class="{true: 'glyphicon-floppy-saved ', false: 'glyphicon-floppy-remove '}[saved]" aria-hidden="true"></span> </h4>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="savePlayerData()" >Save Current Settings</button>
              </span>
              <input type="text" class="form-control" ng-model="title" style="max-width: 100%">
            </div><!-- /input-group -->
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Dismiss</button>
    </div>
